*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml

*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/
local.properties

*.iml
.idea/
*.ipr
*.iws
.navigation/
.DS_Store
gradle.properties


.idea/misc.xml
